@charset "UTF-8";
body { margin: 0; padding: 0; }

/*头部*/
header { display: flex; position: relative; background: #8e488e; padding: 15px 0; color: #fff; font-size: 16px; font-weight: 600; justify-content: center; align-items: center; }

header a { flex: 1; text-align: left; margin-left: 10px; }

header span:nth-child(2) { flex: 4; text-align: center; }

header span:last-child { position: relative; flex: 1; margin-right: 10px; text-align: right; }

header span:last-child .caidan { position: absolute; top: 30px; right: 0; opacity: 0; }

header span:last-child .caidan ul { list-style: none; border-radius: 5px; background: #666; margin: 0; padding: 0; }

header span:last-child .caidan ul li { opacity: 0.9; }

header span:last-child .caidan ul li a { display: block; font-weight: normal; text-decoration: none; font-size: 12px; text-align: center; width: 120px; padding: 10px 0; color: #fff; }

header span:last-child .caidan ul:before { content: ''; display: inline-block; position: absolute; right: 5px; top: -16px; width: 0; height: 0; border: 10px solid transparent; border-bottom: 8px solid #666; }

/*脚部*/
.type { display: flex; padding: 20px 0; border-bottom: 1px solid #333; }

.type span { flex: 1; text-align: center; color: #333; border-right: 1px solid #333; }

.type span:last-child { border-right: none; }

footer { position: fixed; left: 0; bottom: 0; right: 0; background: #fff; border-top: 1px solid #ddd; padding: 10px 0; }

footer nav { display: flex; justify-content: center; }

footer nav a { color: #666; flex: 1; text-align: center; text-decoration: none; display: flex; flex-direction: column; }

footer nav a span:first-child { font-size: 20px; }

footer nav a span:nth-child(2) { margin: 5px; font-size: 12px; }
