@charset "UTF-8";
body { margin: 0; padding: 0; height: 130vh; }

/*头部*/
header { display: flex; position: fixed; z-index: 10; top: 0; left: 0; width: 100%; background: #8e488e; padding: 15px 0; color: #fff; font-size: 16px; font-weight: 600; justify-content: center; align-items: center; }

header a { flex: 1; text-align: left; margin-left: 10px; text-decoration: none; color: #fff; }

header span:nth-child(2) { flex: 4; text-align: center; }

header span:last-child { position: relative; flex: 1; margin-right: 10px; text-align: right; }

header span:last-child .caidan { position: absolute; top: 30px; right: 0; display: none; }

header span:last-child .caidan ul { list-style: none; border-radius: 5px; background: #666; margin: 0; padding: 0; }

header span:last-child .caidan ul li { opacity: 0.9; }

header span:last-child .caidan ul li a { display: block; font-weight: normal; text-decoration: none; font-size: 12px; text-align: center; width: 120px; padding: 10px 0; color: #fff; }

header span:last-child .caidan ul:before { content: ''; display: inline-block; position: absolute; right: 5px; top: -16px; width: 0; height: 0; border: 10px solid transparent; border-bottom: 8px solid #666; }

section { margin-top: 50px; }

section p { display: flex; margin: 10px; }

section p input { height: 26px; margin-top: 10px; outline: 0; border: 1px solid #D1D5D8; }

section .phone { position: relative; }

section .phone input:first-child { flex: 1; width: 30vw; }

section .phone input:nth-child(2) { flex: 3; }

section .phone .prompt { position: absolute; display: block; right: 0; top: 15px; display: none; height: 26px; color: #F16E42; }

section .password { position: relative; }

section .password input { width: 100%; }

section .password .prompt1 { position: absolute; display: block; right: 0; top: 15px; display: none; height: 26px; color: #F16E42; }

section .btn input { width: 100%; background: #8e488e; height: 35px; font-size: 14px; color: #fff; font-weight: 600; border-radius: 5px; }
