
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1477902052481'); /* IE9*/
  src: url('iconfont.eot?t=1477902052481#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1477902052481') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1477902052481') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1477902052481#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> e312aba84e2f22751276cab2d55490cead0fbf2e
>>>>>>> 2f35d0b9358bc78cbfed00d384e69a68ec9d05ba
>>>>>>> 1655d7ffcde5938116ad39bd3314fb0ff6671f78

.icon-liebiao:before { content: "\e605"; }

.icon-cart:before { content: "\e629"; }

.icon-fanhui:before { content: "\f007a"; }

.icon-mofang:before { content: "\e6d0"; }

.icon-jifen:before { content: "\e654"; }

.icon-gerenzhongxin:before { content: "\e65a"; }

.icon-shouye:before { content: "\e61f"; }

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
>>>>>>> 2f35d0b9358bc78cbfed00d384e69a68ec9d05ba
.icon-lajixiang:before { content: "\e645"; }
.icon-gouwuche:before { content: "\e63f"; }
.icon-xiangzuojiantou:before { content: "\e660"; }
/*.icon-liebiao:before { content: "\e601"; }*/
.icon-gouwuche1:before { content: "\e6b5"; }
<<<<<<< HEAD

=======
>>>>>>> 1946fe5b91387b356ad2ed09b2b645ae038b688f
>>>>>>> e312aba84e2f22751276cab2d55490cead0fbf2e
>>>>>>> 2f35d0b9358bc78cbfed00d384e69a68ec9d05ba
>>>>>>> 1655d7ffcde5938116ad39bd3314fb0ff6671f78
