*{list-style: none;margin: 0;padding: 0;text-decoration: none;}
body{background: #f1f5f6; font-size: 14px; font-family: "微软雅黑";}
a{text-decoration: none;}

 //头部
    header{
//     width: 100vw; height: 7vh;text-align: center;line-height: 7vh;color: #fff; background: #8e488e;
        display: flex;
        position: fixed;
         z-index: 10;
        top:0;
        left: 0;
        width: 100%;
         background:#8e488e;
         padding: 15px 0;
         color: #fff;
         font-size: 16px;
         font-weight: 600;
         justify-content: center;
         align-items: center;
         a{
             flex: 1;
             text-align:left;
             margin-left: 10px;
             text-decoration: none;
             color: #fff;
         }
         span:nth-child(2){
             flex: 4;
             text-align: center;
             
         }
        span:last-child{
            position: relative;
            flex: 1;
            margin-right: 10px;
            text-align: right;
            .caidan{
                position: absolute;
                top:30px;
                right:0;
                display: none;
                ul{
                    list-style: none;
                    border-radius: 5px;
                     background: #666;
                    margin: 0;
                    padding: 0;
                     li{
                        opacity: 0.9;
                        a{
                            display: block;
                            font-weight: normal;
                            text-decoration: none;
                            font-size: 12px;
                            text-align: center;
                            width: 120px;
                            padding: 10px 0;
                            color: #fff;
                        }
                    }
                    &:before{
                        content: '';
                        display:inline-block;
                        position: absolute;
                        right: 5px;
                        top:-16px;
                        width: 0;
                        height: 0;
                        border: 10px solid transparent;
                        border-bottom:8px solid #666;
                    }
                }
            
            }
        }
    }
//头像号码
#pageMine .photo{
    width: 100vw;height: 15vh;margin-left: -15px;margin-top: 4vh;
    background: url(../img/nav_bg.jpg) repeat-x;background-size: cover;
    ul{
        width: 100%;height: 100%;
        li{
            width: 100%;height: 100%;
        }
    }
    .people_pic{
        width: 50px;height:50px;margin-top: 30px;
        img{
            width: 50px;height:50px;border-radius: 115px;margin-left: 15px;
        }
    }
    
    //箭头
    .jiantou .badge{
        margin-top:8vh ;
    }
    
    //号码、 小图片、 普通会员
    .VIP {
        margin-top: 5vh;
        p,span{
            font-size: 14px;
            font-weight: bold;
            color: #fff;
        }
        .small_pic img{
            width: 20px;height: 20px;margin-bottom: 5px;
        }
    }
}


//金额
#pageMine .money{
    width: 100vw; height: 8vh;line-height:2vh; text-align: center;background: #fff;margin-left: -15px;
    a{
        color: #000000;
        p:nth-child(1){
            font-weight: bolder;font-size: 14px;
            margin-top: 5px; 
        }
    }
}

//一二三级会员
#pageMine .vipgrade{
    width: 100vw;margin: 2vh;margin-left:-15px;
    #vipgrade{
        width: 100%;height: 100%;margin-top: -5px;
        a{
            width: 100%;height: 100%;
            .badge{
                background: #8e488e;
                color: #fff;
                
            }
        } 
    } 
}
 
//我的订单、升级为商家、完善资料
#pageMine .myindent{
    width: 100vw;margin-bottom:8vh;margin-left:-15px;margin-top: -25px;
    #myindent{
        width: 100%;height: 100%;
        .badge{
            background: #fff;
            color: #333;
          
        }
    }
}









