/*头部*/
header{
    display: flex;
    position: fixed;
     z-index: 10;
    top:0;
    left: 0;
    width: 100%;
    background:#8e488e;
    padding: 15px 0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    span{
         flex: 1;
         a{
        
         text-align:left;
         margin-left: 10px;
         text-decoration: none;
         color: #fff;
        }
        a:hover{
            
            text-decoration: none;
        }
    }
    
     span:nth-child(2){
         flex: 4;
         text-align: center;
         
     }
     span:last-child{
         position: relative;
         flex: 1;
         margin-right: 10px;
         text-align: right;
         .caidan{
            position: absolute;
            top:30px;
            right:0;
            display: none;
            ul{
                list-style: none;
                border-radius: 5px;
                 background: #666;
                margin: 0;
                padding: 0;
                li{
                    opacity: 0.9;
                    a{
                        display: block;
                        font-weight: normal;
                        text-decoration: none;
                        font-size: 12px;
                        text-align: center;
                        width: 120px;
                        padding: 10px 0;
                        color: #fff;
                    }
                }
                &:before{
                    content: '';
                    display:inline-block;
                    position: absolute;
                    right: 5px;
                    top:-16px;
                    width: 0;
                    height: 0;
                    border: 10px solid transparent;
                    border-bottom:8px solid #666;
                }
            }
        
        }
     }
}