$bgcolor:#8e488e;
body{
    margin: 0;
    padding: 0;
    height: 120vh;
}

/*佣金*/
.commission{
    margin-top: 50px;
    display: flex;
    .commission_left,.commission_right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        margin: 10px 0;
        border-right: 1px solid #ADADAD;
        span:nth-child(1){
            color: #000000;
            font-size: 20px;
            font-weight: 700;
        }
        span:nth-child(2){
            color: #666;
            font-size: 12px;
        }
    }
    .commission_right{
        border-right:none;
        
    }
    
}
/*渐变*/
.gradient{
    display: flex;
    padding: 4px 0;
    background:linear-gradient(to bottom,#eee,#ddd);
    
}
/*分类*/
.type{
    display: flex;
    border: 1px solid #ddd;
    border-right: none;
    border-left: none;
    div{
        display: flex;
        justify-content: center;
        font-size: 12px;
        color: #666;
        flex: 1;
        padding: 15px 0;
        border-right: 1px solid #ddd;
    }
    div:last-child{
        border-right:none;
    }
}
/*收入支出详情*/
.details{
    
    div{
         display: flex;
        span{
        display: flex;
        color: #666;
        justify-content: center;
        flex: 1;
        padding: 10px 0;
        font-size: 12px;
        border-bottom: 1px solid #ddd;
    }
    }
}
/*脚部*/
footer{         
    
    li:nth-child(4){
      a{
          i{
              color:#8e488e;
          }
          div{
               color:#8e488e;
          }
      } 
     }
    }