//1)变量
//2）嵌套
//3）继承
//4）循环
//5）条件判断

$primaryColor:#387ef5;
$subColor:lighten($primaryColor,10%);
$fontsize:16;

.box{color: $subColor;background:#00BFFF;width: 200px;height: 100px;
    & ul{
        list-style: none;
        margin: 0;
        padding: 0;
        
        li{
            height: 30px;
            background: #00FF00;
        }
    }
}

.box1{
    @extend .box;
    background: orange;
}

@mixin opacity($opacity) {
  opacity: $opacity / 100;
  filter: alpha(opacity=$opacity);
}
//@mixin opacity($opacity:50,$border:1px dashed #ccc) {//默认值为50,1px dashed #ccc,多个参数的情况
//opacity: $opacity / 100;
//filter: alpha(opacity=$opacity);
//}
.box2{
    background: orchid;
    width: 200px;height: 100px;
    @include opacity(80);
}
